<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
  <meta name="author" content="{{ config.author }}">

  {# Umami Analytics #}
  <script defer src="https://analytics.kiero.dev/script.js" data-website-id="ea2175f9-e20a-45ae-858f-35d291887577"></script>

  <link rel="stylesheet" href="{{ get_url(path='css/main.css') | safe }}">
  <link rel="alternate" type="application/atom+xml" title="{{ config.title }} - Feed" href="{{ get_url(path='atom.xml') | safe }}">

  {% block head %}{% endblock head %}
</head>
<body>

  <main id="main">
    {% block content %}{% endblock content %}
  </main>

  <footer>© {{ now() | date(format="%Y") }} {{ config.author }}</footer>

  <script defer src="{{ get_url(path='js/copy-code.js') | safe }}"></script>
  {% block scripts %}{% endblock scripts %}
</body>
</html>
